.finance_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finance_form_wrapper {
  max-width: 500px;
  
}

.finance_form_wrapper [type="date"] {
  width: 95vw;
  max-width: 300px;
  padding: .5rem 0;
  text-align: right;
  font-size: 1rem;
  font-family: var(--main-font-Regular);
  color: var(--main-color-blue-light);
  border-radius: 3px;
  border: solid 1.5px rgba(128, 128, 128, 0.2);
}

.finance_form_wrapper select {
    -webkit-appearance:     none;
    -moz-appearance:        none;
    appearance:             none;
    display:        inline-block;
    padding:        .5em 2em .5em .9em;
    cursor:         pointer;
    font-size:      1rem;
    border:         1px solid rgb(207, 210, 219);
    border-radius:  .2em;
    background-color:     rgb(250, 250, 250);
    background-image: url(../../assets/images/chevron_down.png);
    background-size: .8em;
    background-repeat: no-repeat;
    background-position: calc(100% - .6em) center;
    outline: none;
    width: 95vw;
    max-width: 300px;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.4);
    border: none;
}

.finance_placeholder{
    position: absolute;
    top: 0.7rem;
    left: 0.5rem;
    color: var(--main-color-grey);
    font-size: .8rem;
}

.finance_field_wrapper{
  margin: 2rem 0;
  width: 100%;
  position: relative;
}

.finance_field_wrapper label{
    font-size: .7rem;
}

