.header_wrapper{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.header_wrapper p{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    overflow: hidden;
    font-weight: bold;
}

.header_wrapper img{
    height: 30px;
    box-sizing: border-box;
    margin-left: 15px;
    position: absolute;
    top: 1.2rem;
}

.header_wrapper Link{
    width: fit-content;
    height: auto;
}